<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
      <footer style="padding: 5rem; background-color: rgba(210, 210, 210, 0.819);">
            <div class="logo" style="padding: 2rem 0;">
          <a href="index.html"> FeWo-direkt</a>
        </div>

        <div style="display: flex; justify-content: space-between;">
            <div>
                <h3 class="footer-title">FeWo-direkt erkunden</h3>
                <ul>
                    <li style="list-style-type: none;"><a href="#">Unterkunft inserieren</a></li>
                    <li style="list-style-type: none;"><a href="#">Mit Vertrauen buchen</a></li>
                    <li style="list-style-type: none;"><a href="#">Vertrauen und Sicherheit</a></li>
                    <li style="list-style-type: none;"><a href="#">Ressourcen für Partner</a></li>
                    <li style="list-style-type: none;"><a href="#">Ferienhäuser und Urlaubsinspiration</a></li>
                </ul>
            </div>
            <div>
                <h3 class="footer-title">Unternehmen</h3>
                <ul>
                    <li style="list-style-type: none;"><a href="#">Über uns</a></li>
                    <li style="list-style-type: none;"><a href="#">Karriere</a></li>
                    <li style="list-style-type: none;"><a href="#">Affiliate-Partner</a></li>
                    <li style="list-style-type: none;"><a href="#">Presse</a></li>
                    <li style="list-style-type: none;"><a href="#">Allgemeine Geschäftsbedingungen </a></li>
                    <li style="list-style-type: none;"><a href="#">Über uns</a></li>
                    <li style="list-style-type: none;"><a href="#">Karriere</a></li>
                    <li style="list-style-type: none;"><a href="#">Affiliate-Partner</a></li>
                    <li style="list-style-type: none;"><a href="#">Presse</a></li>
                    <li style="list-style-type: none;"><a href="#">Affiliate-Partner</a></li>
                    <li style="list-style-type: none;"><a href="#">Über uns</a></li>
                    <li style="list-style-type: none;"><a href="#">Karriere</a></li>
                    <li style="list-style-type: none;"><a href="#">Affiliate-Partner</a></li>
                    <li style="list-style-type: none;"><a href="#">Presse</a></li>
                    <li style="list-style-type: none;"><a href="#">Allgemeine Geschäftsbedingungen </a></li>
                </ul>
            </div>
            <div>
                <h3 class="footer-title">Die Vrbo-Familie</h3>
                <ul>
                    <li style="list-style-type: none;"><a href="#">Vrbo</a></li>
                    <li style="list-style-type: none;"><a href="#">Abritel.fr</a></li>
                    <li style="list-style-type: none;"><a href="#">FeWo-direkt.de</a></li>
                    <li style="list-style-type: none;"><a href="#">Bookabach.co.nz</a></li>
                    <li style="list-style-type: none;"><a href="#">Stayz.com.au</a></li>
                </ul>
            </div>
        </div>
        <div style="padding-top: 2rem;">

            <hr style="width: 90%; margin: 0 auto;">
            <p style="padding-top: 2rem; text-align: center;">© 2025 FeWo-direkt, ein Unternehmen der Expedia Group. Alle Rechte vorbehalten. FeWo-direkt und das FeWo-direkt-Logo sind Handelsmarken oder eingetragene Handelsmarken von HomeAway.com, Inc.</p>
        </div>
      </footer> 
   
</body>
</html>