<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gym App - Your Fitness Journey Starts Here</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="navbar-placeholder"></div>

    <section class="hero">
      <div class="hero-content">
        <div class="hero-childcontent">
          <p class="hero-text">Die ganze Unterkunft nur für dich</p>
          <div class="parent-hero-inputs">
            <div class="hero-inputs">
              <div class="hero-input">
                <span
                  ><img
                    src="../images/de153d63-b135-4273-b67c-5bde4093ec1b.svg"
                    class="hero-icon"
                    alt=""
                /></span>
                <span>Wo soll's hingehen?</span>
              </div>
              <div class="hero-input">
                <span
                  ><img
                    src="../images/4c5bcb84-bddc-4bb1-955a-3c4eaea8b8df.svg"
                    class="hero-icon"
                    alt=""
                /></span>
                <div>
                  <span>Daten</span>
                  <span>26. juli - 9. Aug.</span>
                </div>
              </div>
              <div class="hero-input">
                <span
                  ><img
                    src="../images/905b4e75-8366-44e6-b205-4072ef949747.svg"
                    class="hero-icon"
                    alt=""
                /></span>
                <div>
                  <span>Gaste</span>
                  <span>2 Reisende</span>
                </div>
              </div>
            </div>
            <div class="hero-input">
              <button class="hero-button">Suchen</button>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section>
      <div class="message-text">
        <span>
          <img src="../images/b7cac3c3-62ba-4e46-91d1-748c2d4f22d9.svg" alt="" class="message-icon">
        </span>
        <span class="message-text">Melde dich an, um dem Gastgeber eine Nachricht zu schicken und mehr Details zu einer Unterkunft zu erhalten.</span>
        <span class="message-button">Anmelden</span>
      </div>
      <div class="message-blogs">
         <div class="message-blog">
          <div class="message-blog-content">
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. optio totam cupiditate nostrum amet harum consequatur.</span><br>
            <p class="access-button"> <span >Jetzt buchen</span> <span><svg data-slot="icon" style="width: 2rem; height: 2rem;" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
  <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"></path>
</svg></span></p>
          </div>
          <img src="../images/hero.jpg" class="message-blog-image" alt="">
        </div>
        
        <div class="message-blog">
          <div class="message-blog-content">
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. optio totam cupiditate nostrum amet harum consequatur.</span><br>
            <p class="access-button"> <span >Jetzt buchen</span> <span><svg data-slot="icon" style="width: 2rem; height: 2rem;" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
  <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"></path>
</svg></span></p>
          </div>
          <img src="../images/hero.jpg" class="message-blog-image" alt="">
        </div>
         <div class="message-blog">
          <div class="message-blog-content">
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. optio totam cupiditate nostrum amet harum consequatur.</span><br>
            <p class="access-button"> <span >Jetzt buchen</span> <span><svg data-slot="icon" style="width: 2rem; height: 2rem;" fill="none" stroke-width="1.5" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
  <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"></path>
</svg></span></p>
          </div>
          <img src="../images/hero.jpg" class="message-blog-image" alt="">
        </div>
      </div>
    </section>

    <script>
      fetch("navbar.html")
        .then((response) => response.text())
        .then((html) => {
          document.getElementById("navbar-placeholder").innerHTML = html;

          const script = document.createElement("script");
          script.src = "../js/navbar.js";
          document.body.appendChild(script);
        });
    </script>
  </body>
</html>
