<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gym App - Your Fitness Journey Starts Here</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="navbar-placeholder"></div>

    <section class="hero">
      <div class="hero-content">
        <div class="hero-childcontent">
          <p class="hero-text">Die ganze Unterkunft nur für dich</p>
          <div class="parent-hero-inputs">
            <div class="hero-inputs">
              <div class="hero-input">
                <span
                  ><img
                    src="../images/de153d63-b135-4273-b67c-5bde4093ec1b.svg"
                    class="hero-icon"
                    alt=""
                /></span>
                <span>Wo soll's hingehen?</span>
              </div>
              <div class="hero-input">
                <span
                  ><img
                    src="../images/4c5bcb84-bddc-4bb1-955a-3c4eaea8b8df.svg"
                    class="hero-icon"
                    alt=""
                /></span>
                <div>
                  <span>Daten</span>
                  <span>26. juli - 9. Aug.</span>
                </div>
              </div>
              <div class="hero-input">
                <span
                  ><img
                    src="../images/905b4e75-8366-44e6-b205-4072ef949747.svg"
                    class="hero-icon"
                    alt=""
                /></span>
                <div>
                  <span>Gaste</span>
                  <span>2 Reisende</span>
                </div>
              </div>
            </div>
            <div class="hero-input">
              <button class="hero-button">Suchen</button>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section>
      <div class="message-text">
        <span>
          <img src="" alt="">
        </span>
        <span></span>
        <span></span>
      </div>
    </section>

    <script>
      fetch("navbar.html")
        .then((response) => response.text())
        .then((html) => {
          document.getElementById("navbar-placeholder").innerHTML = html;

          const script = document.createElement("script");
          script.src = "../js/navbar.js";
          document.body.appendChild(script);
        });
    </script>
  </body>
</html>
