<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gym App - Your Fitness Journey Starts Here</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

    <div id="navbar-placeholder"></div>

    
    <section class="hero">
      
    </section>

    <script>
      fetch("navbar.html")
        .then((response) => response.text())
        .then((html) => {
          document.getElementById("navbar-placeholder").innerHTML = html;

          const script = document.createElement("script");
          script.src = "../js/navbar.js";
          document.body.appendChild(script);
        });
    </script>
  </body>
</html>
