<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gym App - Navigation</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-container">
        <div class="logo">
          <a href="index.html"> FeWo-direkt</a>
        </div>
        <ul class="nav-links">
          <li><a href="index.html" class="active">App herluterladen</a></li>
          <li><a href="#">Reiseplaner</a></li>
          <li><a href="#">Unterkunft registrieren</a></li>
          <li><a href="#">Hilfe</a></li>
          <li><a href="#">Meine Reisen</a></li>
          <li><a href="#">Anmelden</a></li>
        </ul>
      
        <div class="hamburger">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </div>
    </nav>
    <script src="../js/navbar.js"></script>
  </body>
</html>
